@media(max-width:500px){

/* <!-- --------------------Header START-------------------- --> */


/* ----------Top Header START---------- */

header .top_header .top_header_contant{
    width: 90%;
    justify-content: center;
}

.top_header_contant .top_header_decor ul li{
    padding-bottom: 10px;
}

.top_header_contant .top_header_decor ul .dot_line::after{
    border: 0px dashed #9c9c9c;
}

/* ----------Top Header END---------- */


/* <!-- ----------Bottom Header START---------- --> */

.bottom_header .bottom_header_contant .bottom_common_class{
    width: 100%;
    padding: 5px 0px;
}

.bottom_header .bottom_header_contant .search input{
    width: 100%;
}

.bottom_header .bottom_header_contant .logo{
    text-align: left;
}

.bottom_header .bottom_header_contant .mycart{
    display: none;
}

/* <!-- ----------Bottom Header END---------- --> */

/* <!-- --------------------Header END-------------------- --> */


/* <!-- --------------------Navbar START-------------------- --> */

nav .navbar_contant .navbar_common_class{
    width: 100%;
    text-align: center;
}

nav .navbar_contant .menu_bar ul li{
    display: block;
}

nav .navbar_contant .menu_bar .store_dropdown .store_details{
    width: 100%;
}

nav .navbar_contant .menu_bar .gallery_dropdown .gallery_details{
    width: 100%;
}

nav .navbar_contant .menu_bar .news_dropdown .news_details{
    width: 100%;
}

nav .navbar_contant .menu_bar .pages_dropdown .pages_details{
    width: 100%;
}

nav .navbar_contant .nav_icons{
    padding: 10px 0px;
}

/* <!-- --------------------Navbar END-------------------- --> */


/* <!-- --------------------Section START-------------------- --> */

/* <!-- ----------Main-Banner Section START---------- --> */


.banner .banner_contant{
    width: 95%;
    padding: 20px;
    font-size: 42px;
}


.banner .banner_contant img{
    width: 60%;
}

.banner .banner_contant h1{
    letter-spacing: 3px;
}

.banner .banner_contant p{
    font-weight: 400;
    font-size: 13px;
    padding-top: 15px;
}

.banner .backword_errow, .forword_errow{
    display: none;
}
    
/* <!-- ----------Main-Banner Section END---------- --> */


/* <!-- ----------Offer-Banner Section START---------- --> */

.offer_banner .offer_banner_contant .product_1{
    margin-right: 0px;
}

.offer_banner .offer_banner_contant .product_2{
    margin-left: 0px;
}

/* <!-- ----------Offer-anner Section END---------- --> */

/* <!-- ----------Featured Section START---------- --> */

.featured .featured_contant .featured_heading{
    font-size: 24px;
}


/* <!-- ----------Featured Cart START---------- --> */

.product_cart {
    width: 100%;
    text-align: center;
}

.product_cart .product_detail .image_part  img{
    width: 280px;
  }

/* <!-- ----------Featured Cart END---------- --> */

/* <!-- ----------Featured Section END---------- --> */


/* <!-- ----------Choose Section START---------- --> */

.choose .choose_item_contaner .commom_item_contaner_class{
    width: 100%;
}

/* <!-- ----------Choose Section END---------- --> */


/* <!-- ----------Top Selling Section START---------- --> */

.top_selling .top_selling_Contant .selling_contaner{
    justify-content: center;
}

section .top_selling .top_selling_Contant{
    font-size: 28px;
}

/* <!-- ----------Top Selling Section END---------- --> */


/* <!-- ----------Latest News Section START---------- --> */

.latest_news .latest_news_contant .news_contaner{
    justify-content: center;
}

.latest_news .latest_news_contant .news_contaner .news_pamphlet{
    width: 100%;
}

/* <!-- ----------Latest News Section END---------- --> */


/* <!-- ----------Our Farmer Section START---------- --> */

.our_farmer .our_farmer_contant .farmer_contaner{
    justify-content: center;
}

.our_farmer_contant .farmer_contaner .farmer_details{
    width: 100%;
}

/* <!-- ----------Our Farmer Section END---------- --> */


/* <!-- ----------Testimonials Section START---------- --> */

section .testi{
    height: 1450px;
}

.testi_contant .pepole_details .detail_card{
    width: 100%;
}

/* <!-- ----------Testimonials Section END---------- --> */


/* <!-- ----------Customers Section START---------- --> */

.customers .customers_contant .customer_image{
    height: 90px;
    width: 200px;
    margin-bottom: 15px;
}

/* <!-- ----------Customers Section END---------- --> */


/* <!-- ----------Subscribe Section START---------- --> */

.subscribe .title{
    padding: 20px 28px;
}


.subscribe .title h2{
    font-size: 32px;
}

.subscribe .title p{
    font-size: 16px;
}


.subscribe .form input, button{
    margin-bottom: 15px;
}

/* <!-- ----------Subscribe Section END---------- --> */

/* <!-- --------------------Section END-------------------- --> */


/* <!-- --------------------Footer START-------------------- --> */

.top_footer .top_footer_contant .y{
    width: 100%;
}

.top_footer .top_footer_contant h5{
    margin: 30px 0px;
}

footer .bottom_footer .z{
    width: 100%;
}

footer .bottom_footer .copy_right h6{
    text-align: center;
    margin: 0px;
}

footer .bottom_footer .payment_method i{
    margin-left: 10px;
}

footer .bottom_footer .payment_method{
    text-align: center;
    padding-right: 0px;
}

/* <!-- --------------------Footer END-------------------- --> */


}
