/* ========== GOOGLE FONTS ========== */

@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Homemade+Apple&family=Indie+Flower&family=Manrope&family=Montserrat:ital@0;1&family=Niconne&family=Poppins:wght@300;400;500;600&display=swap');

/* ========== VARIABLES CSS ========== */

:root {
    /* ===== Colors ===== */

    --hue-color:242;

    /* HSL Color Mode */

    --skin-color: hsl(342, 92%, 46%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);


    /* ===== Font and Typography ===== */

    --body-font: 'poppins', sans-serif;


    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */

    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;


    /* ===== Font weight ===== */

    --font-medium: 500;
    --font-bold: 600;


    /* ===== Margenes Bottom ===== */

    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;


    /* ===== Z Index ===== */

    --z-fixed:10;
    --z-modal:100;

}


/* ========== BASE ========== */

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html{
    scroll-behavior: smooth;
}

body,
button,
input{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

button,
input{
    border: none;
    outline: none;
}


/* ========== LAYOUT ========== */

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;
}


/* ========== REUSABLE CSS CLASSES ========== */

.section{
    padding: 3.5rem 0 2rem;
}

.section_title{
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.section_title::before{
    content: attr(data_heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
}


/* ========== SIDEBAR ========== */

.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border: 1px solid var(--box-color);
    transition: .5s;
}

.nav_logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
}

.nav_logo_text{
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav_menu{
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
    border: 1px solid white;
}

.menu{
    display: flex;
    border: 2px solid red;
}

.nav_list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav_link{
    display: block;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: 0.4s;
}

/* Active Link */

.nav_link.active_link, .nav_link:hover{
    color: var(--skin-color);
}

.nav_link.active_link::after, .nav_link:hover::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    left: 0%;
    right: 0%;
    margin: auto;
    bottom: 1.8rem;
}

.btn_share{
    position: absolute;
    bottom: 1.8rem;
    right: 0%;
    left: 0%;
    text-align: center;
}

.social_share{
    font-size: 1.5rem;
}

.nav_toggle{
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 1.5rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    display: none;
    justify-content: center;
    align-items: center;
}

.nav_close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}


/* ========== MAIN ========== */

.main{
    margin-left: 100px;
}


/* ========== Home Section ========== */

.home_img{
    display: none;
}

.home{
    background: url(../Images/home_bg_image.avif);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.home_container{
    position: relative;
    height: 100%;
    align-items: center;
}

.home_social{
    position: absolute;
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.home_social_follow {
    font-weight: var(--font-medium);
    position: relative;
}

.home_social .home_social_follow::after{
    content: "";
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--text-color);
    right: -45%;
    top: 50%;
}

.home_social_links{
    display: flex;
    column-gap: 1rem;
}

.home_social_link{
    font-size: 1.20rem;
    color: var(--text-color);
    transition: 0.4s;
}

.home_social_link:hover{
    transform: translateY(.25rem);
}

.home_name_subtitle{
    font-size: var(--h3-font-size);
}

.home_title{
    font-size: var(--biggest-font-size);
}

.home_title span{
    font-size: 3.5rem;
    color: var(--skin-color);
}

.home_subtitle{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.typing{
    color: var(--skin-color);
}

.home_description{
    max-width: 450px;
    margin-bottom: var(--mb-2);
}

.my_info{
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info_item{
    display: flex;
    align-items: center;

}

.info_title,
.info_subtitle{
    font-size: var(--small-font-size);
}

.info_title{
    font-weight: var(--font-medium);
}

.info_icon{
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-75);
}


/* ---------- BUTTONS ---------- */

.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: .75rem 1.4rem;
    border-radius: .30rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
}

.button_icon{
    font-size: 1.25rem;
}

.button::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #343a40;
    z-index: -1;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}

.button:hover::after{
    transform: scale(1);
}


/* ========== About Section ========== */

.about_container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.about_image{
    width: 480px;
    border-radius: 1.5rem;
    margin: 0 auto;
}

.about_heading{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);
}

.about_description{
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: var(--mb-2);
}

.about_info{
    display: grid;
    grid-template-columns: repeat(2, 220px);
    column-gap: 1rem;
    margin-bottom: var(--mb-3);
}

.info_box{
    text-align: center;
    border-radius: .25rem;
    padding: 1rem 1.25rem;
    background-color: var(--box-color);
}

.about_icon{
    font-size: 1.5rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-0-75);
}

.about_title{
    font-size: var(--small-font-size);
}

.about_subtitle{
    font-size: var(--smaller-font-size);
}


/* ========== Qualification Section ========== */

.qualification_container{
    display: grid;
    grid-template-columns: 500px 320px;
    column-gap: 3rem;
    justify-content: center;
}

.qualification_title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2);
}

.timeline_item{
    position: relative;
    padding-left: 3rem;
    margin-bottom: var(--mb-2-5);
}

.timeline_item:last-child{
    margin-bottom: 0;
}

.timeline_item::before{
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: .45rem;
    background-color: var(--skin-color);
}

.circle_dot{
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: var(--skin-color);
    transition: .3s;
}

.timeline_item:hover .circle_dot{
    background-color: var(--body-color);
}

.timeline_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.timeline_text{
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.timeline_date{
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--smaller-font-size);
    color: var(--skin-color);
}

.skills_list{
    row-gap: 1.8rem;
}

.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills_name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25rem;
}

.skills_bar{
    background-color: var(--box-color);
}

.skills_percentage{
    display: block;
    background-color: var(--skin-color);
}


/* ========== Portfolio Section ========== */

.work_list{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    grid-gap: 2rem;
}

.work{
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
    border: 1px solid transparent;
}

.work img{
    width: 100%;
    height: 100%;
    transition: .4s;
}

.work:hover img{
    transform: scale(1.1);
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
}

.layer h3{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-0-5);
}

.layer a{
    color: #ff004f;
    text-decoration: none;
    font-size: var(--normal-font-size);
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.work:hover .layer{
    height: 100%;
}


/* ========== Contact Section ========== */

.contact_container{
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.contact_content{
    text-align: center;
}

.contact_info{
    display: grid;
    row-gap: 1rem;
}

.contact_card{
    background-color: var(--box-color);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.contact_card_icon{
    font-size: 1.8rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-25);
}

.contact_card_title,
.contact_card_data{
    font-size: var(--small-font-size);
}

.contact_card_title{
    font-weight: var(--font-medium);
}

.contact_card_data{
    display: block;
    margin-bottom: var(--mb-0-75);
}

.contact_button{
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.contact_button_icon{
    font-size: 1rem;
    transition: .3s;
}

.contact_button:hover .contact_button_icon{
    transform: translateX(.25rem);
}

.social_icons{
    display: flex;
    column-gap: .8rem;
    justify-content: center;
    margin-top: var(--mb-1);
}

.contact_social_link{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    transition: 0.4s;
}

.contact_social_link:hover{
    transform: translateY(.25rem);
    color: var(--skin-color);
}

.input_container{
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.9rem;
}

.input{
    width: 100%;
    border: 2px solid var(--text-color);
    background-color: transparent;
    padding: .6rem 1.2rem;
    color: var(--title-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    letter-spacing: .5px;
    outline: none;
    border-radius: .50rem;
    transition: .3s;
}

textarea.input{
    padding: .8rem 1.2rem;
    min-height: 120px;
    border-radius: .50rem;
    resize: none;
}

.input_container label{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: var(--font-medium);
    pointer-events: none;
    z-index: var(--z-modal);
    transition: .5s;
}

.input_container.textarea label{
    top: 1rem;
    transform: translateY(0%);
}

.input_container span{
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
    padding: 0 .4rem;
    pointer-events: none;
    /* z-index: var(--z-fixed); */
}

.input_container span::before,
.input_container span::after{
    content: "";
    position: absolute;
    width: 10%;
    height: 5px;
    background-color: var(--body-color);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: .3s;
}

.input_container span::before{
    left: 50%;
}

.input_container span::after{
    right: 50%;
}

.input_container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: var(--smaller-font-size);
}

.input_container.focus span::before,
.input_container.focus span::after{
    width: 50%;
    opacity: 1;
}


/* ========== Scroll Bar ========== */

::-webkit-scrollbar{
    width: .80rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

/* ========== Break Points ========== */

/* For Large Devices */

@media screen and (max-width: 1408px){

    .container{
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }
}

@media screen and (max-width: 1216px){

    .about_container{
        column-gap: 2.5rem;
    }

    .about_description{
        padding-right: 0;
    }

}

@media screen and (max-width: 1148px){

    .work_list{
        grid-template-columns: repeat(3, 200px);
    }

    .qualification_container{
        grid-template-columns: 400px 320px;
        grid-gap: 1.5rem;
    }
}

  /* Responsive Typography */

  @media screen and (max-width: 1024px) {

    :root{
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
    
}

@media screen and (max-width: 1024px){

    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .sidebar{
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);
    }

    .show_sidebar{
        transform: translateX(0);
    }

    .nav_logo,
    .btn_share{
        display: none;
    }

    .nav_menu{
        width: 100%;
        height: 100%;
        transform: rotate(0deg) translateX(0);
        display: flex;
        justify-content: center;
    }

    .nav_list{
        flex-direction: column;
        /* height: 100%; */
        justify-content: center; 
        align-items: center;
    }

    .nav_link{
        line-height: 1.5;
        padding: 1rem 0;
    }

    .nav_link.active_link::after, .nav_link:hover::after{
        bottom: 0;
    }

    .nav_close{
        display: block;
    }

    .nav_toggle{
        display: flex;
    }

    .main{
        margin: 0;
    }

    .about_container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about_image{
        width: 350px;
    }

    .about_data{
        text-align: center;
    }

    .about_info{
        justify-content: center;
    }

    .about_box{
        padding: .75rem .5rem;
    }

    .about_description{
        padding: 0 4rem;
        text-align: center;
    }

    .qualification_container{
        grid-template-columns: 400px 250px;
        grid-gap: 1rem;
    }
}


/* For Medium Devices */

@media screen and (max-width: 800px){

    .qualification_container{
        grid-template-columns: 400px;
        row-gap: 3rem;
    }

    .work_list{
        grid-template-columns: repeat(2, 250px);
    }

    .contact_container{
        grid-template-columns: 250px 300px;
        column-gap: 1.5rem;
    }

}

@media screen and (max-width:670px){

    .work_list{
        grid-template-columns: repeat(2, 200px);
    }

    .contact_container{
        grid-template-columns: 300px;
        row-gap: 3rem;
    }

}


@media screen and (max-width:570px){

    .nav_toggle{
        right: initial;
        left: 1.5rem;
    }

    .home{
        background-image: none;
        height: initial;
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    .home_container{
        row-gap: 2rem;
    }

    .home_img{
        display: block;
        width: 250px;
        justify-self: center;
    }

    .home_social{
        left: inherit;
        right: 0;
        flex-direction: column;
        row-gap: 3.5rem;
    }

    .home_social_follow{
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .home_social_links{
        flex-direction: column;
        row-gap: .25rem;
    }

    .home_social_link{
        font-size: var(--normal-font-size);
    }

    .my_info{
        display: none;
    }

    .about_description{
        padding: 0;
    }

    .about_info{
        grid-template-columns: repeat(2, 150px);
    }

    .qualification_container{
        grid-template-columns: 300px;
    }

    .work_list{
        grid-template-columns: 250px;
    }

}

@media screen and (max-width:350px){
    .home_title{
        font-size: var(--h1-font-size);
    }

    .home_subtitle{
        font-size: var(--normal-font-size);
    }
}