@media(max-width:500px){

/* Header section START */

.page_header .page_header_contant .header{
    padding: 0px 0px 20px;
}

.page_header_contant .header .social{
    width: 25%;
    font-size: 16px;
    line-height: 40px;
}

.page_header_contant .header .logo{
    width: 50%;
}

.page_header_contant .header .logo img{
    height: 36px;
    width: 200px;
}
.page_header_contant .header .search{
    width: 25%;
    font-size: 10px;
    line-height: 40px;
}

/* Header section END */


/* <!-- Navbar START --> */

.page_header_contant .navbar li{
    padding: 0px 9px;
    font-size: 14px;
}

/* <!-- Navbar END --> */



/* <!-- Posters START --> */

.posters .left_poster{
    width: 100%;
    height: 330px;
}

.posters .left_poster .left_contant{
    width: 320px;
}

.posters .left_poster .left_contant p{
    font-size: 10px;
}

.posters .left_poster .left_contant h1{
    font-size: 26px;
    padding: 15px 0px;
}

.posters .left_poster .left_contant ul li{
    font-size: 15px;
}

.posters .left_poster .left_contant ul li img{
    width: 35px;
    height: 35px;
}

.posters .right_poster{
    width: 100%;
}

.posters .right_poster .right_top{
    height: 320px;
}

.posters .right_poster .right_top_contant h1{
    font-size: 26px;
}

.posters .right_poster .right_bottom{
    display: none;
}
          
/* <!-- Posters END --> */


/* Contant section START */

.page_contant_section{
    padding: 50px 80px;
}


/* page_divs_Btn START */

.page_divs_btn ul li{
    padding: 5px;
}

.page_divs_btn ul .errow{
    padding: 10px;
}

.page_divs_btn ul .errow img{
    height: 8px;
}

/* page_divs_Btn END */

/* Contant section END */


/* Popular section START */

.Popular_section{
    padding: 80px 40px;
}

.Popular_section .post{
    width: 100%;
}

.post h3{
    text-align: center;
}

.post .post_row{
    margin-top: 0px;
}

.post .post_row .single_post{
    width: 100%;
    margin-top: 30px;
}

.Popular_section .about{
    width: 100%;
    margin-top: 50px;
}

.about h3{
    text-align: center;
}

.about ul {
    text-align: center;
}

.about ul li{
    font-size: 26px;
}


/* Popular section END */


/* Tag section START */

.tag_section .tag_contant{
    width: 90%;
}

/* Tag section END */


/* Footer START */

/* Footer Top START */

.footer_top .top_left{
    width: 100%;
}

.top_left .top_left_contant{
    width: 100%;
    text-align: center;
}

.top_left .top_left_contant h4{
    line-height: 70px;
    margin-bottom: 10px;
}

.top_left .top_left_contant h4::after{
    width: 100%;
}

.top_left .top_left_contant li {
    border-bottom: 1px solid  rgba(255, 255, 255, 0.03);
    
}

.footer_top .top_right{
    width: 100%;
    text-align: center;
}

.footer_top .top_right h4::after{
    width: 100%;
    line-height: 60px;
    margin-bottom: 10px;
}

.footer_top .top_right .mail{
    width: 100%;
}

/* Footer Top End */

/* Footer Bottom START */

.footer_contant .footer_bottom{
    text-align: center;
    line-height: 30px;
}

footer .footer_bottom .line::after{
    display: none;
}

/* Footer Bottom END */

/* Footer END */


}